<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
    <h1>Semestres</h1>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Primer semestre
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-button routerLink="/etica-I/1">Ética I</a>
      <a mat-button routerLink="/matematicas-I/1">Matemáticas I</a>
      <a mat-button routerLink="/lectura-I/1">Taller de Lectura y Redacción I</a>
      <a mat-button routerLink="/ingles-I/1">Inglés I</a>
      <a mat-button routerLink="/quimica-I/1">Química I</a>
      <a mat-button routerLink="/informatica-I/1">Informática I</a>
      <a mat-button routerLink="/metodologia/1">Metodología de la Investigación</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Segundo Semestre
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-button routerLink="/etica-II/1">Ética II</a>
      <a mat-button routerLink="/matematicas-II/1">Matemáticas II</a>
      <a mat-button routerLink="/lectura-II/1">Taller de Lectura y Redacción II</a>
      <a mat-button routerLink="/ingles-II/1">Inglés II</a>
      <a mat-button routerLink="/quimica-II/1">Química II</a>
      <a mat-button routerLink="/informatica-II/1">Informática II</a>
      <a mat-button routerLink="/sociales/1">Introducción a las Ciencias Sociales</a>  
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-container">
      <header>
        <div>
          <button mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
      
          <a routerLink="/">
            <span class="app-title">Escuela José María Morelos y Pavón</span>
          </a>
        </div>
      </header>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

