<div class="materia">
    <mat-toolbar>
        <a mat-button [routerLink]="['/etica-II/1']" routerLinkActive="active">Bloque 1</a>
        <a mat-button [routerLink]="['/etica-II/2']" routerLinkActive="active">Bloque 2</a>
        <a mat-button [routerLink]="['/etica-II/ma']" routerLinkActive="active">Materiales de
            apoyo</a>
        <a mat-button [routerLink]="['/etica-II/ref']" routerLinkActive="active">Referencias</a>
    </mat-toolbar>

    <div class="" [ngSwitch]="seccion$ | async">
        <div *ngSwitchCase="1" class="animated fadeIn">
            <h2>Bloque 1
            </h2>
            <section>
                <h3>Tema: Globalización</h3>
                <p>
                    Una mayor difusión del conocimiento y la cultura. El hambre. Los acuerdos de libre comercio. Los
                    paraísos fiscales. La comunicación sin barreras. La construcción de nuevas fronteras. La
                    democratización del turismo. El drama de los refugiados. Son algunas piezas sueltas de este
                    rompecabezas al que llamamos mundo globalizado. Realidades que coexisten en el tiempo y en el
                    espacio y que dan cuenta de las contradicciones del nuevo (des)orden mundial.
                    <br>
                    Ramón Jáuregui: «Se ha dado una ruptura del contrato social en las sociedades occidentales»
                    <br>
                    ¿Es la globalización una ideología o un proceso histórico? ¿Es posible (y positiva) una gobernanza
                    global? ¿Deberíamos hablar de globalización o de globalizaciones? Son algunas de las reflexiones que
                    han inspirado el debate Responsabilidad social, bien común y economía, enmarcado dentro de las
                    jornadas del Atrio de los gentiles organizadas por la Universidad Pontificia Comillas. El diálogo,
                    protagonizado por el eurodiputado socialista Ramón Jáuregui y el catedrático de Ética Domingo García
                    Marzá, y moderado por el vicepresidente de Unicef España, Juan José Almagro, ha puesto el foco en la
                    ética de la globalización y en el papel de la sociedad civil y de las organizaciones para superar
                    los desafíos globales.
                    <br>
                    Pero las soluciones no se pueden ofrecer sin antes analizar las fisuras del sistema. García Marzá
                    establece la premisa: «La globalización no es un hecho natural, ni una suerte ni una desgracia, es
                    una construcción humana». El problema, en su opinión, es que «no hemos sido capaces de cambiar la
                    dirección de esa globalización».
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/ETII1.png" alt="globalización">
                </div>
                <p>
                    <span>Multiculturalidad y interculturalidad</span>
                    <br>
                    Multiculturalismo es un término polisémico que está sujeto a diversas y a veces contradictorias
                    interpretaciones. En su sentido meramente descriptivo designa la coexistencia de diferentes culturas
                    en una misma entidad política territorial, pero puede tener,un sentido prescriptivo o normativo y
                    designar diferentes políticas
                    <br>
                    Se puede definir a la interculturalidad, como un proceso de comunicación e interacción entre
                    personas y grupos con identidades culturales específicas, donde no se permite que las ideas y
                    acciones de una persona o grupo cultural esté por encima del otro, favoreciendo en todo momento el
                    diálogo, la concertación y con ello, la integración y convivencia enriquecida entre culturas. Las
                    relaciones interculturales se basan en el respeto a la diversidad y el enriquecimiento mutuo.
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/ETII2.png" alt="globalización">
                </div>
            </section>
            <hr>
        </div>
        <div *ngSwitchCase="2" class="animated fadeIn">
            <h2>Bloque 2</h2>
            <section>
                <h3>Tema: Implicaciones éticas en el uso de la ciencia y la tecnología</h3>
                <p>
                    En la última década los avances de la ciencia y la tecnología en materia sanitaria son múltiples, el
                    empleo de la genética como mecanismo de prevención del cáncer y como procedimiento diagnóstico pre
                    implantación en ginecología, el uso de la biotecnología a nivel celular son sólo ejemplos de estos.
                    <br>
                    La tecnología y la técnica son el resultado de la aplicación de los conocimientos aportados por la
                    ciencia en el campo sanitario y en la medicina. Las aplicaciones tecnológicas y técnicas son
                    innumerables, pero es necesario repasar su origen y sus fundamentos teóricos.
                    <br>
                    La comprensión del sentido y significado de su aplicación pueden ayudar a entender el por qué de su
                    utilización y no sólo su empleo como herramienta para conseguir fines, como mantener la ventilación
                    asistida de un paciente crítico, controlar el latido cardiaco con un marcapasos, o conseguir depurar
                    la sangre de metabolitos tóxicos mediante la diálisis.

                </p>
                <div class="img-container">
                    <img src="assets/img/ETII3.png" alt="globalización">
                </div>
                <p>
                    La aplicación de la tecnología y la técnica conlleva una serie de repercusiones inherentes a su uso.
                    Entre ellas la deshumanización de la asistencia y la presencia de conflictos éticos y problemas
                    morales en su uso, entre los propios profesionales, el paciente y la familia. Paradójicamente,
                    muchas de estas aplicaciones tecnológicas son manejadas y utilizadas por las enfermeras a la hora de
                    aplicar cuidados, apareciendo problemas éticos a la hora de usarlas en la aplicación de
                    cuidados.
                </p>
                <h3>Tema: Principales conflictos éticos en el uso de la ciencia y la tecnología</h3>
                <p>
                    La ciencia y la técnica, en su imperioso andar, irrumpen en la vida del ser humano, influyendo en su
                    pensamiento, intereses, necesidades y valores. Los potentes adelantos científico-técnicos se
                    convierten, cada vez más, en fuerzas productivas que coadyuvan a la gratificación de los intereses y
                    necesidades de las personas, y al aumento de sus capacidades cognoscitivas.
                    <br>
                    En el presente trabajo, con el propósito de reafirmar la importancia de la formación ética dentro de
                    las ciencias médicas, se exploraron de manera particular los eventos más relevantes en el desarrollo
                    científico–tecnológico de la medicina, así como los conflictos éticos que enfrentó y enfrenta la
                    humanidad. Se analizó también el rol de la educación médica superior dentro de la formación de la
                    ética médica. A través de la revisión bibliográfica, los autores evidenciaron que el desarrollo de
                    la ciencia y la tecnología permitieron la prevención y el control de muchas enfermedades, la certeza
                    en el diagnóstico y el tratamiento en las diferentes patologías con la aplicación de los
                    conocimientos destinados al beneficio social del ser humano. Se constató que durante la evolución de
                    las ciencias médicas sucedieron en el proceso, prácticas indebidas en seres humanos, violatorias de
                    la ética médica. Señalaron además el rol que juega la educación médica superior como eslabón
                    fundamental en el desarrollo de esta ciencia.
                    <br>
                    <span>Uso de la ciencia y la tecnología para el bien común</span>
                    <br>
                    Los éxitos de la ciencia, en su alianza con la tecnología son indudables. Nos han proporcionado una
                    gran capacidad para explicar, controlar y transformar el mundo.
                    <br>
                    La importancia de la ciencia y la tecnología aumenta en la medida en la que el mundo se adentra en
                    lo que se ha dado en llamar "la sociedad del conocimiento", es decir, sociedades en las cuales la
                    importancia del conocimiento crece constantemente por su incorporación a los procesos productivos y
                    de servicios, por su relevancia en el ejercicio de la participación popular en los procesos de
                    gobierno y también para la buena conducción de la vida personal y familiar.
                    <br>
                    La enorme capacidad cognoscitiva de la humanidad debe ejercer una influencia cada vez mayor en la
                    vida de las sociedades y las personas.
                    <br>

                </p>
                <div class="img-container">
                    <img src="assets/img/ETII4.png" alt="globalización">
                </div>
            </section>
            <hr>
        </div>
        <div *ngSwitchCase="'ma'" class="animated fadeIn">
            <h2>Videos de ayuda</h2>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2-9wuGlZdq8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/381yK5FqucY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cs12oUW_jOE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div *ngSwitchCase="'ref'" class="animated fadeIn reference">
            <ul style="margin-top: 3%;">
                <li>
                    Globalización
                    <br>
                    <a
                        href="https://www.coe.int/es/web/compass/globalisation">https://www.coe.int/es/web/compass/globalisation</a>
                </li>
                <li>
                    interculturalidad y Multiculturalidad
                    <br>
                    <a
                        href="https://redsocial.rededuca.net/en-qu-se-diferencian-multiculturalidad-e-interculturalidad">https://redsocial.rededuca.net/en-qu-se-diferencian-multiculturalidad-e-interculturalidad</a>
                </li>
                <li>
                    Los origenes de la globalización
                    <br>
                    <a
                        href="https://theconversation.com/los-origenes-de-la-globalizacion-128040">https://theconversation.com/los-origenes-de-la-globalizacion-128040</a>
                </li>
                <li>
                    Globalización y ciencia
                    <br>
                    <a
                        href="https://www.bbvaopenmind.com/articulos/globalizacion-y-ciencia-la-vision-de-un-fisico/">https://www.bbvaopenmind.com/articulos/globalizacion-y-ciencia-la-vision-de-un-fisico/</a>
                </li>
                <li>
                    LA ÉTICA EN LA ERA DE LA GLOBALIZACIÓN
                    <br>
                    <a
                        href="https://ethic.es/2016/09/la-etica-en-la-era-de-la-globalizacion/">https://ethic.es/2016/09/la-etica-en-la-era-de-la-globalizacion/</a>
                </li>
            </ul>
        </div>

        <div *ngSwitchDefault>Contenido no encontrado</div>
    </div>
</div>