<div class="materia">
    <mat-toolbar>
        <a mat-button [routerLink]="['/ingles-II/1']" routerLinkActive="active">Bloque 1</a>
        <a mat-button [routerLink]="['/ingles-II/ma']" routerLinkActive="active">Materiales de
            apoyo</a>
        <a mat-button [routerLink]="['/ingles-II/ref']" routerLinkActive="active">Referencias</a>
    </mat-toolbar>

    <div class="" [ngSwitch]="seccion$ | async">
        <div *ngSwitchCase="1" class="animated fadeIn">
            <h2>Bloque 1
            </h2>
            <section>
                <h3>Tema: Características de personas (Vocabulario)</h3>
                <p>
                    Describir el Color del pelo
                    <br>
                    Blonde/fair hair – rubio
                    <br>
                    Brown hair – castaño
                    <br>
                    Brunette – persona con el pelo castaño/moreno
                    <br>
                    Red hair – pelirrojo/a
                    <br>
                    Redhead – pelirrojo/a
                    <br>
                    Black hair – negro
                    <br>
                    Grey hair– gris, canoso
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/I21.png" alt="VOCABULARIO">
                </div>
                <p>
                    Describir el Tipo de Pelo
                    <br>
                    Long hair – pelo largo
                    <br>
                    Short hair – pelo corto
                    <br>
                    Bald – calvo
                    <br>
                    Curly hair- pelo rizado
                    <br>
                    Medium length – media melena
                    <br>
                    Wavy hair – pelo ondulado
                    <br>
                    Short hair – pelo corto
                    <br>
                    Straight hair – pelo liso
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/I22.png" alt="VOCABULARIO">
                </div>
                <p>
                    Describir el Tipo de Ojos
                    <br>
                    Green eyes – ojos verdes
                    <br>
                    Blue eyes – ojos azules
                    <br>
                    Brown eyes – ojos marrones
                    <br>
                    Dark eyes – ojos oscuros/negros
                    <br>
                    Grey eyes – ojos grises
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/I23.png" alt="VOCABULARIO">
                </div>
                <p>
                    Describir el Tipo de Piel
                    <br>
                    Asian complexión – piel asiática
                    <br>
                    Black complexión – piel negra / oscura
                    <br>
                    Fair complexion – piel clara/blanca
                    <br>
                    Tanned complexión – bronceado
                    <br>
                    Pale complexion – pálido
                    <br>
                </p>
                <div class="img-container">
                    <img src="assets/img/I24.png" alt="VOCABULARIO">
                </div>
                <p>
                    Describir el Tipo de Personalidad
                    <br>
                    Absent-minded – Distraído
                    <br>
                    Ambitious – Ambicioso
                    <br>
                    Amusing – Divertido
                    <br>
                    Anxious – Preocupado / Inquieto
                    <br>
                    Arrogant – Arrogante
                    <br>
                    Bad – Malo
                    <br>
                    Bad-tempered – De mal carácter/genio
                    <br>
                    Brave – Valiente
                    <br>
                    Calm / quiet – Tranquilo
                    <br>
                    Character – Carácter
                    <br>
                    Charming – Encantador
                    <br>
                    Cheerful – Alegre
                    <br>
                    Conceited – Engreído/ Vanidoso
                    <br>
                    Crazy – Loco
                    <br>
                    Cruel – Cruel
                    <br>
                    Decisive – Decidido
                    <br>
                    Enthusiastic – Entusiasta
                    <br>
                    Friendly /kind – Amable
                    <br>
                    Funny – Gracioso
                    <br>
                    Generous – Generoso
                    <br>
                    Gentle – Tierno / dulce
                    <br>

                </p>

                <div class="img-container">
                    <img src="assets/img/I25.png" alt="VOCABULARIO">
                </div>

            </section>
            <hr>
        </div>
        <div *ngSwitchCase="'ma'" class="animated fadeIn">
            <h2>Videos de ayuda</h2>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SUt8q0EKbms" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BwHMMZQGFoM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gS_Mz3ekkck" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
            </div>
        </div>
        <div *ngSwitchCase="'ref'" class="animated fadeIn reference">
            <ul style="margin-top: 3%;">
                <li>
                    Body Parts I
                    <br>
                    <a href="https://learnenglish.britishcouncil.org/vocabulary/beginner-to-pre-intermediate/body-parts-1">https://learnenglish.britishcouncil.org/vocabulary/beginner-to-pre-intermediate/body-parts-1</a>
                </li>
                <li>
                    Parts of the body
                    <br>
                    <a href="https://www.vocabulary.cl/Basic/Body_Parts.htm">https://www.vocabulary.cl/Basic/Body_Parts.htm</a>
                </li>
                <li>
                    Body Parts (Exercise)
                    <br>
                    <a href="https://learnenglishteens.britishcouncil.org/vocabulary/beginner-vocabulary/body-parts">https://learnenglishteens.britishcouncil.org/vocabulary/beginner-vocabulary/body-parts</a>
                </li>
                <li>
                    Human Body
                    <br>
                    <a href="https://www.lingolex.com/bodyen.htm">https://www.lingolex.com/bodyen.htm</a>
                </li>
            </ul>
        </div>

        <div *ngSwitchDefault>Contenido no encontrado</div>
    </div>
</div>